html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}


#main-menu{
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    visibility: visible;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    position: absolute;
    top: 0;
    left: 0;
}


#button-wrapper{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
}

.menu-gametype{
    border-radius: 10px;
    width: 200px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    filter: drop-shadow(5px 5px 13px #00000055);
    cursor: pointer;
}

.play_mode_active{
    border: solid;
    border-width: 2px;
    border-color: black;
}

#jeu{
    width: 100%;
    height: 100%;
    background-color: green;
    position: absolute;
    top: 0;
}

#start_button{
    padding: 5px;
    margin-top: 10px;
    border-radius: 10px;
    background-color: aqua;
    cursor: pointer;
}
#game_screen{
    width: 100%;
    height: 100%;
}

#table{
    background-color: blue;
    position: absolute;
    top:30%;
    left: 10%;
    width: 80%;
    height: 500px;
}

.table-cards{
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform-style: preserve-3d;

}

#card_1{
    position: absolute;
    top:70px;
    left:150px;
    width: 90px;
    height: 70px;
    background-color: wheat;
    -moz-transform: scale(1.2) rotate(56deg) translate(4px, 5px) skew(-3deg, -40deg);
    -webkit-transform: scale(1.2) rotate(56deg) translate(4px, 5px) skew(-3deg, -40deg);
    -o-transform: scale(1.2) rotate(56deg) translate(4px, 5px) skew(-3deg, -40deg);
    -ms-transform: scale(1.2) rotate(56deg) translate(4px, 5px) skew(-3deg, -40deg);
    transform: scale(1.2) rotate(56deg) translate(4px, 5px) skew(-3deg, -40deg);
}

#card_2{
    position: absolute;
    top:10px;
    left:350px;
    width: 70px;
    height: 60px;
    background-color: wheat;
    -moz-transform: scale(1.2) rotate(360deg) translate(0px, 2px) skew(-53deg, 23deg);
    -webkit-transform: scale(1.2) rotate(360deg) translate(0px, 2px) skew(-53deg, 23deg);
-o-transform: scale(1.2) rotate(360deg) translate(0px, 2px) skew(-53deg, 23deg);
-ms-transform: scale(1.2) rotate(360deg) translate(0px, 2px) skew(-53deg, 23deg);
transform: scale(1.2) rotate(360deg) translate(0px, 2px) skew(43deg, -3deg);    
}



#card_3{
    position: absolute;
    top: 0;
    right:350px;
    width: 60px;
    height: 50px;
    background-color: wheat;
    -moz-transform: scale(1.2) rotate(360deg) translate(0px, 2px) skew(-53deg, 23deg);
    -webkit-transform: scale(1.2) rotate(360deg) translate(0px, 2px) skew(-53deg, 23deg);
-o-transform: scale(1.2) rotate(360deg) translate(0px, 2px) skew(-53deg, 23deg);
-ms-transform: scale(1.2) rotate(360deg) translate(0px, 2px) skew(-53deg, 23deg);
transform: scale(1.2) rotate(360deg) translate(0px, 2px) skew(-53deg, 23deg);
}

#card_4{
    position: absolute;
    top:70px;
    right:150px;
    width: 90px;
    height: 70px;
    background-color: wheat;
    -moz-transform: scale(1.2) rotate(124deg) translate(3px, 1px) skew(3deg, 40deg);
    -webkit-transform: scale(1.2) rotate(124deg) translate(3px, 1px) skew(3deg, 40deg);
    -o-transform: scale(1.2) rotate(124deg) translate(3px, 1px) skew(3deg, 40deg);
    -ms-transform: scale(1.2) rotate(124deg) translate(3px, 1px) skew(3deg, 40deg);
    transform: scale(1.2) rotate(124deg) translate(3px, 1px) skew(3deg, 40deg);
}

#card_5{
    position: absolute;
    bottom:300px;
    right:45%;
    width: 90px;
    height: 70px;
    background-color: wheat;
}

#card_list{
    position: absolute;
    top:60%;
    height: 40%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:10px;
}

.cards{
    border:solid;
    border-color: black;
    border-width: 2;
    width: 150px;
    height: 250px;
    border-radius: 10px;
    cursor: pointer;
    transition: 300ms ease-in-out 0s;
}

.cards:hover{
width: 170px;
height: 270px;
}

